@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Roboto", sans-serif;
     background-color: #f9f9f9;
}
body.active{
    background-color: rgb(36, 37, 40) ;
    color: rgb(242, 242, 242);
}
body.active header{
     background-color:  rgba(36 37 40);
    color: rgb(242 242 242);
}
body.active header a , body.active #mode , body.active .content *{
    color: #fff;
}
body.active .bars{
    background-color: #fff;
}
body.active  .content{
     width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    z-index: 11;
}


.container{
    max-width: 1110px;
    margin-inline: auto;
}
header{
    height: 4rem;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 222;
}
.logo{
    font-family: "Unbounded", sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
}
.navigation{
    display: flex;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    display: block;
    color: #333;
    padding-inline: 8px;
    font-weight: 500;
}
ul li a:hover{
    color: orangered;
}
.menu{
     display: none;
    width: 25px;
    height: 23px;
    cursor: pointer;
}
.menu .bars{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    margin: 3px;
    border-radius: 10px;
}
#mode{
    margin-inline: 5px;
    cursor: pointer;
    border-radius: 3px;
    color: #333;
}
#mode i[data]{
   display: none;
}
/* home section */
#home{
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.content h2 {
   font-size: 3rem;
   font-weight: 700;
   color: rgb(57, 57, 240);
} 
.content{
    height: 100%;
    display: flex;
     flex-direction: column;
     align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-inline: 20px;
}
.content h3{
   font-size: 3rem;
   font-weight: 700;
   color: black;
}
.content P{
    font-size: 1.8rem;
    font-weight: 600;
    color: olivedrab;
}
.content a{
   text-decoration: none;
    padding:15px 25px ;
    font-size: 1.2rem;
   background-color: rgb(255, 145, 0);
   border-radius: 30px;
   color:#fff;
}

/* about section */
#about {
    min-height: 100vh;
    padding-block: 50px;
}
.frist-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 15px;
     margin-block: 10px;
}
.h2-content{
    font-size: 2.375rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
}
.para-content{
    width: 60%;
     font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.second-one{
    margin-block: 40px;
    padding: 10px;
    display: flex;
    gap: 20px;
}
 #doct{
    flex: 1;
}
.second-one #doct img{
    width: 100%;
    display: block;
    border-radius: 5px;
}
#content-2{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#content-2 h3{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 25px;
}
#content-2 p{
    font-size: 1rem;
    margin-bottom: 20px;
}
#content-2 button{
    align-self: start;
    padding: 15px 20px;
    color: #fff;
    background-color: #299adc;
    border: none;
}

/* services */
#services{
    min-height: 100vh;
    margin-block: 40px;
    padding-block: 40px;
}
.serv-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  margin-top: 40px;
}
.elements{
    /* width: 300px; */
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.elements:hover{
    transform: scale(1.03);
}
.elements span{
    font-size: 2.3rem;
}
.elements h3{
    margin: 20px 0px 0px;
    font-size: 1.5rem;
}
.elements p{
    margin-block: 15px;
    text-align: center;
}

/* doctors section  */
#doctors{
    margin-bottom: 30px;
}
.cont-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#search-form{
    width: 60%;
    position: relative;
}
#search-form input{
    width: 80%;
   padding: 10px;
   margin: 10px 0;
   background: #333;
   border: 1px solid #444;
   color: white;
   border-radius: 5px;
   outline: none;
   font-size: 1rem;
}
#search-form input:hover{
outline: 1px solid #9e9e9e;
}
#search-form i{
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    right: 22%;
    color: #fff;
}
#search-form button{
    padding: 12px 20px;
    color: #fff;
    background-color: #299adc;
    border: none;
    border-radius: 5px;
}

#Doctor-view{
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 50px;
}
.flex{
    width: 300px;
    height: 300px;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    margin: 10px 20px;
    text-align: center;
}
.inf-img {
    overflow: hidden;
}
.inf-img img{ 
   display: block;
   width: 100%;
   height: auto;
   border-radius: 10px 10px 0px 0px;
}
.flex p{
   font-size: 1.1rem;
   padding-bottom: 5px;
}
.flex button{
    padding: 10px 20px;
    color: #fff;
    background-color: #299adc;
    border-radius: 5px;
    border: none;
}
#model{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top :0;
    z-index: 111;
    background-color: rgba(0,0,0,0.5);
}
#model-content{
    height: 50%;
    width: 80%;
    max-width: 300px;
    position: relative;
    margin: 15% auto;
    max-width: 500px;
    border:1px #fff solid;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    padding: 20px;
}
#model-content h3{
    font-size: 1.8rem;
    color: orange;
    margin-bottom: 10px;
}
#model-content p {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 10px;
}
#model-content div{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 10px;
    color: rgba(0,0,0,0.8);
}
#model-content span{
    background-color:#299adc;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
/* booking section */
#Booking{
    min-height: 100vh;
    padding-block: 20px;
}
#Booking h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}
#FormBooking{
    width: 100%;
    padding: 10px 30px;
}
 .flex-input{
    display: flex;
    gap: 20px;
}
.flex-input div{
   width: 70%;  
    padding: 10px 0px;
}
#FormBooking .flex-input input{
    padding: 10px;
    display: block;
    width: 100%;
   border-radius: 5px;
   outline: none;
   font-size: 1rem;
   border: 1px gray solid;
}
#FormBooking .flex-input input:focus{
    outline: 1px rgb(25,119 ,204) solid;
}
/* added dark mode in inputs select textarea */
body.active #FormBooking .flex-input input{
     background: #333;
   border: 1px solid #444;
   color: white;
}
body.active #FormBooking .flex-input select{
     background: #333;
   border: 1px solid #444;
   color: white;
}
body.active #FormBooking textarea{
     background: #333;
   border: 1px solid #444;
   color: white;
}
#FormBooking .flex-input label{
    display: block;
    margin: 0px 0px 8px;
    font-weight:bold;
}
#FormBooking .flex-input  select{
     padding: 10px;
    display: block;
    width: 100%;
    border: 1px gray solid;
     outline: none;
}
#FormBooking textarea{
    display: block;
    width: 100%;
    height: 150px;
    margin-block: 20px;
     border: 1px gray solid;
     outline: none;
     font-size: 1rem;
}
#FormBooking button{
    padding: 15px 50px;
    color: #fff;
    background-color: #299adc;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    margin-block: 20px;
}
/* showing popup  when form submit */
#popup{
    display: flex;
    justify-content: center;
}
#mdl{
    display: none;
    width: 350px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: fixed;
    top: 70px;
    z-index: 555;
    background-color: lightgreen;
    color: #fff;
}
/* consult section */
#consult{
    background-color: #299adc;
    color: #fff;
    padding: 30px 10px;
    margin-block: 30px;
}
#consult .Box-1{
    display: flex;
    justify-content: space-between;
}
.Box-1 div h1{
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 500;
}
.Box-1 button{
    padding: 15px 20px;
    color: #fff;
    background-color: #f85002;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}
#showElement{
    display: none;
    margin-block: 40px;
}
#showElement.active {
    display: block;
}

#showElement p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
#showElement input{
    padding: 5px 10px;
    border-radius: 5px;
   outline: none;
   font-size: 1rem;
   border: 1px gray solid;
   margin-right: 5px;
}
#showElement button{
    padding: 7px 20px;
    border: none;
    background-color:rgb(255, 167, 2);
    color: #fff;
}
.medical{
    padding: 10px;
    margin: 15px;
}
.medical p{
    font-weight: 500;
    color: rgb(17, 17, 17);
}
.medical span{
    font-weight: 300;
    color: #fff;
}
/* FAQS */
#FAQ{
    height: 50vh;
    padding-block: 30px;
}
#FAQ .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#content{
    width: 90%;
    max-width: 600px;
    border: 1px solid;
}
#content:hover h2{
    cursor: pointer;
}
#content.active h2{
    background-color: #118ac2;
    margin-bottom: 10px;
    color: #fff;
}


#content h2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#content.active p{
    display: block;
    padding: 10px;
}
#content p{
    display: none;
}
#content .fa-angle-up{
    display: none;
}
#content.active .fa-angle-down{
    display: none;
}
#content.active .fa-angle-up{
    display: inline-block;
}
#contact{
    height: 70vh;
    padding: 30px 10px;
}
.controls{
    display: flex;
    gap: 20px;
}
.One{
    width: 100%;
}
.One h3{
    font-size: 1.4rem;
    margin-block: 10px;
}
form{
    width: 100%;
    background-color: #fff;
    padding: 20px;
}
form input{
    padding: 10px;
    display: block;
    width: 100%;
    margin: 20px 0px;
    outline: none;
}






@media screen and (max-width :768px){
     
    header{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-left: 10px;
    }
    body.active .navigation{
        background-color: rgba(36 37 40);
    }
    .navigation{
         width: 90%;
         position: absolute;
         top: 70px;
         flex-direction: column;
         gap: 10px;
         background-color:#ffffff;
         padding: 15px;
         border-radius: 10px;
         box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
         max-height: 0px;
         opacity: 0;
         overflow: hidden;
         transition: all 0.6s ease-in-out;
    }
    .navigation.active{
        max-height: 250px;
        opacity: 1;
        /* overflow:visible; */
    }
    .navigation ul li a{
       text-align: center;
       padding: 7px;
    }
    #mode{
        text-align: center;
        padding: 5px;
    }
    /* menu */
    .menu {
        display: block;
        position: absolute;
        top: 20px ;
        right: 50px;
    }
    .menu .bars{
        transition: all 0.2s ease-in;
    }
    
    .menu.active .bars:nth-child(1){
          transform: translateX(6px) rotate(45deg);
    } 
    .menu.active .bars:nth-child(2){
        opacity: 0;
    } 
    .menu.active .bars:nth-child(3){
          transform: translate(6px, -11px) rotate(-45deg);
    } 

    /* home section */
     .content{
        height: 100%;
    }
    .content h2 , .content h3{
        font-size: 2.5rem;
    }
    /* about section */
    .para-content{
        width: 100%;
    }
    .second-one{
        flex-direction: column;
        gap: 30px;
    }
    /* services section */
     .serv-content{
        grid-template-columns: repeat(2 , 1fr);
        padding-inline: 35px;
        gap: 25px;
    }
    /* doctors section */
    #search-form{
        width: 90%;
    }
     /* booking section */
    #FormBooking{
        padding-inline: 50px;
    }
    .flex-input{
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
    }
    .flex-input div{
        padding: 5px 0px;
        width: 100%;
    }
    /* consult section */
    #consult .Box-1{
        flex-direction: column;
        gap: 30px;
    }
}


@media screen and (max-width :568px){
    /* home section */
  .content{
    height: 100%;
    gap: 10px;
  }
  .content h2 , .content h3{
    font-size: 2rem;
  }
  .content p {
    font-size: 1.4rem;
  }
  /* services */
   .serv-content{
        padding: 0px 30px;
        grid-template-columns: repeat(1 , 1fr);
    }
  
     /* Doctors section */
    #model-content{
        margin: 30% auto;
    }
       /* booking section */
     #FormBooking{
        padding-inline: 30px;
    }
}